body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url('INICIO/inicio.jpg'); /* Ruta de tu imagen */
    background-size: cover; /* Asegura que la imagen cubra todo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita */
    height: 100vh; /* Altura completa de la ventana */
    width: 100%;
    position: relative; /* Posiciona elementos encima de la imagen */
}

body.proyectos {
    background-color: white; /* Fondo blanco */
    background-image: none; /* Quita la imagen de fondo */
    color: black; /* Cambia el color de texto general */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
}

.logo-inicio {
    font-size: 24px;
    font-weight: 500;
    color: aliceblue;
}

.logo-resto {
    font-size: 24px;
    font-weight: 500;
    color: black;
}

.header-link {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    gap: 100px;
    margin-right: 40px;
    font-weight: 500;
}

.nav-link {
    text-decoration: none;
    font-size: 24px;
    color: white;
    cursor: pointer; /* Añadir cursor pointer para span */
}

body.proyectos .nav-link {
    color: black; /* Cambia el color de las letras del nav a negro */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    color: aliceblue;
    text-decoration: none;
    display: block;
}

body.proyectos .dropdown-content a {
    color: black; /* Cambia el color de las letras del dropdown a negro */
}

.dropdown-content a:hover {
    background-color: #0000009f;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.imagen-INICIO {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

 /* Contenedor principal */
 .gallery-container {
    position: relative;
    width: 100%;
  }
  
  /* Cada bloque de imagen */
  .gallery-item {
    position: relative;
    width: 100%;
    height: calc(100vh - 40px); /* Reducimos altura para incluir márgenes */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff; /* Fondo blanco para el espacio entre imágenes */
    margin-bottom: 100px; /* Espaciado entre imágenes */
  }
  
  /* Estilo de las imágenes */
  .gallery-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ajusta la imagen sin recortar */
    transition: transform 0.3s ease-in-out;
  }
  
/* Ficha técnica */
.image-info {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 0.5;
    max-width: 1500px; /* Tamaño máximo de ancho */
    max-height: 400px; /* Tamaño máximo de altura */
    display: none; /* Por defecto, oculto */
    opacity: 0; /* Transición suave */
    transition: opacity 0.3s ease-in-out;
    text-transform: uppercase;
}

.image-info.visible {
    display: block;
    opacity: 1;
}

/* Estilo para la primera línea en cursiva */
.info-first-line {
    font-style: italic;
}


/* Estilo de los detalles */
.info-detail {
    font-size: 16px;
    margin-bottom: 5px;
}
